.carouselRoot {
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

.carouselRoot :global(.slick-slider) {
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    direction: ltr;
    unicode-bidi: isolate;
    min-height: 100%;
    position: relative;
    display: block;
    box-sizing: border-box;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.carouselRoot :global(.slick-list) {
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    -webkit-tap-highlight-color: transparent;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100%;
    transform: translate3d(0, 0, 0);
    touch-action: pan-y;
}

.carouselRoot :global(.slick-dots.slick-dots-bottom) {
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    inset-inline-end: 0;
    inset-inline-start: 0;
    z-index: 15;
    display: flex!important;
    justify-content: center;
    padding-inline-start: 0;
    list-style: none;
    bottom: -20px;
}

.carouselRoot :global(.slick-dots.slick-dots-bottom) li:global(:not(.slick-active)) {
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    position: relative;
    display: inline-block;
    flex: 0 1 auto;
    box-sizing: content-box;
    width: 32px;
    height: 6px;
    margin-inline: 4px;
    padding: 0;
    text-align: center;
    text-indent: -999px;
    vertical-align: top;
    transition: all 0.3s;
}

.carouselRoot :global(.slick-dots.slick-dots-bottom) li:global(.slick-active) {
    direction: ltr;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    position: relative;
    display: inline-block;
    flex: 0 1 auto;
    box-sizing: content-box;
    height: 6px;
    margin-inline: 4px;
    padding: 0;
    text-align: center;
    text-indent: -999px;
    vertical-align: top;
    transition: all 0.3s;
    width: 48px;
}

.carouselRoot :global(.slick-dots.slick-dots-bottom) li:global(.slick-active) > button {
    direction: ltr;
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    position: relative;
    display: block;
    width: 100%;
    height: 6px;
    padding: 0;
    color: transparent;
    font-size: 0;
    border: 0;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    background: #ffffff;
    opacity: 1;
}

.carouselRoot :global(.slick-dots.slick-dots-bottom) li:global(:not(.slick-active)) > button {
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    position: relative;
    display: block;
    width: 100%;
    height: 6px;
    padding: 0;
    color: transparent;
    font-size: 0;
    background: #ffffff;
    border: 0;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.3s;
}

.carousel {
    min-height: 100%;
}

.carousel :global(.slick-list),
.carousel :global(.slick-track),
.carousel :global(.slick-slide),
.carousel :global(.slick-slide) > div,
.carousel :global(.slick-slide) > div > div{
    height: 100%;
}

.carousel :global(.slick-dots.slick-dots-bottom) {
    position: initial !important;
}