.background {
    background-image: url(./../../../../../public/seaBattlesAppBackground.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    filter: opacity(0.4);
}

.appExample {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    filter: opacity(0.4);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./../../../../../public/seaBattlesAppExample.webp);
}