.repoBlock {
    display: flex;
    flex-direction: column;
    padding: 8px;
    font-family: var(--RobotoMono);
    width: 100%;
    box-sizing: border-box;
}

.repoRow {
    display: block;
    max-width: 100%;
    width: max-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgba(0,0,0);
    overflow: hidden;
    color: white;
    margin-bottom: 2px;
}

.repoLink {
    font-family: var(--RobotoMono);
    color: white;
    text-decoration: underline;
}

.linksSpanWrapper {
    font-size: 18px;
}

@media screen and (max-width: 650px) {
    .linksSpanWrapper {
        font-size: 14px;
    }
}