.main {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 25vh 0;
    box-sizing: border-box;
    z-index: 1;
    animation: openMainBlock 0.5s;
}

@keyframes openMainBlock {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}


.text_fade,.text_fade2 {
    width: 100%;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.9);
    font-family: var(--RobotoMono);
    letter-spacing: .6em;
    font-size: 2vw;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: hsla(0, 45%, 5%, .3) 0 0 1px, hsla(360, 55%, 95%, .3) 0 -1px 2px, hsla(0, 45%, 5%, .3) 0 -1px 2px, hsla(360, 55%, 95%, .3) 0 20px 15px;
    -webkit-animation: fade_text 8s infinite ease-in;
    -moz-animation: fade_text 8s infinite ease-in;
    -o-animation: fade_text 8s infinite ease-in;
    animation: fade_text 8s infinite ease-in;
}

@media screen and (max-width: 1150px) {
    .text_fade {
        font-size: 26px
    }
}

@media screen and (max-width: 750px) {
    .text_fade2 {
        font-size: 24px
    }
}

@media screen and (max-width: 750px) {
    .text_fade2 {
        font-size: 20px
    }
}

@media screen and (max-width: 590px) {
    .text_fade {
        font-size: 24px;
    }
    .text_fade2 {
        font-size: 18px
    }
}

@media screen and (max-width: 540px) {
    .text_fade {
        font-size: 20px;
    }
    .text_fade2 {
        font-size: 18px
    }
}

@media screen and (max-width: 460px) {
    .text_fade {
        font-size: 20px;
    }
    .text_fade2 {
        font-size: 22px
    }
}

@keyframes fade_text {
    0%  { opacity:1;}
    10%  { opacity:.9; }
    50%  { opacity:.8; }
    90%  { opacity: .9; }
    100% { opacity:1; }
}
@-o-keyframes fade_text{
    0%  { opacity:1;}
    10%  { opacity:.9; }
    50%  { opacity:.8; }
    90%  { opacity: .9; }
    100% { opacity:1; }
}
@-moz-keyframes fade_text{
    0%  { opacity:1;}
    10%  { opacity:.9; }
    50%  { opacity:.8; }
    90%  { opacity: .9; }
    100% { opacity:1; }
}
@-webkit-keyframes fade_text{
    0%  { opacity:1;}
    10%  { opacity:.9; }
    50%  { opacity:.8; }
    90%  { opacity: .9; }
    100% { opacity:1; }
}

.buttonsContainer {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}