.background {
    background-image: url(./../../../../../public/сustomAuthBackground.webp);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    filter: opacity(0.4);
}