.linksBlock {
    display: flex;
    flex-direction: column;
    padding: 8px;
    font-family: var(--RobotoMono);
    width: 100%;
    box-sizing: border-box;
}

.repoLink {
    color: white;
    text-decoration: underline;
    font-family: var(--RobotoMono);
}

.repoRow {
    display: block;
    width: max-content;
    padding: 0 4px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    margin-bottom: 2px;
    background-color: rgba(0,0,0);
}

.linksSpanWrapper {
    font-size: 18px;
    font-family: var(--RobotoMono);
}

.markColor {
    background-color: rgba(0,0,0);
    color: white;
}

@media screen and (max-width: 650px) {
    .linksSpanWrapper {
        font-size: 14px;
    }
}