.linkButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 26px;
    padding: 6px;
    border-radius: 4px;
    border: 3px solid black;
    color: black;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: var(--RobotoMono);
    letter-spacing: .1em;
    font-weight: 700;
    opacity: .9;
    text-transform: uppercase;
    text-shadow: hsla(0, 45%, 5%, .3) 0 0 1px, hsla(360, 55%, 95%, .3) 0 -1px 2px, hsla(0, 45%, 5%, .3) 0 -1px 2px, hsla(360, 55%, 95%, .3) 0 20px 15px;
    transition: background-color, border, color 0.3s;
    cursor: pointer;
    white-space: nowrap;
    height: 32px;
    box-shadow: 0 0 5px 1px;
}

.linkButton:hover {
    color: white;
    background: linear-gradient(90deg, rgba(70, 71, 75, 0.3) 0%, rgba(112,115,125,0.3) 50%, rgba(70, 71, 75,0.3) 100%);
    border: 3px solid white;
}

.linkButton:hover > .arrowRight {
    fill: white !important;
}

.hiddenMainBlock {
    animation: closeBlock 0.3s !important;
    opacity: 0;
}

.arrowRight {
    fill: black;
    transition: fill 0.3s;
}

@keyframes closeBlock {
    0% {
        transform: translateX(0);
        display: flex;
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 1;
    }
}