.technologiesBlock {
    padding: 8px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.valuesContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
    font-size: 18px;
    font-family: var(--RobotoMono);
}

.spanWithIcon {
    display: inline-flex;
    align-items: flex-start;
    white-space: nowrap;
    gap: 4px;
    padding-left: 4px;
    background-color: rgba(0,0,0);
    color: white;
    font-family: var(--RobotoMono);
}

.spanWithIcon > svg {
    width: 18px;
    height: 18px;
    top: 4px;
    position: relative;
}

.markColor {
    color: white;
    background-color: rgba(0,0,0);
    padding-left: 2px;
}

@media screen and (max-width: 650px) {
    .valuesContainer {
        font-size: 14px;
    }
    .spanWithIcon > svg {
        width: 14px;
        height: 14px;
    }
}