.background {
    background-image: url(./../../../../../public/seaBattlesBackground.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    filter: opacity(0.4);
}