.langsBtnsContainer {
    display: flex;
    position: absolute;
    height: 36px;
    width: auto;
    right: 3%;
    top: 3%;
    z-index: 10;
    gap: 4px;
}

.langBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    min-width: 72px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    color: black;
    font-family: var(--RobotoMono);
    font-weight: 700;
}

.isNotActive {
    opacity: .4;
}