html, body {
  width:100%;
  min-height:100dvh;
  padding:0px;
  margin:0px;
  background-color:#000;
  max-width: 100dvw;
  overflow: hidden;
}

a {
  color: black;
}

#projector {
  position: absolute;
  top: 0;
  left: 0;
  animation: openProgector 0.3s;
}

@keyframes openProgector {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#preloaderDiv
{
  position:absolute;
  left:50%;
  top:50%;
  margin-left: -27px;
  margin-top:  -27px;
}

#logo{
  opacity:0;
  filter: alpha(opacity=0);
}

#date2014
{
  position:absolute;
  padding-left: 210px;
  padding-top:15px;
  opacity:0;
  top:303px;
  left:0;
  filter: alpha(opacity=0);
}

.animateBackground {
  position: absolute;
  width: .001vmin;
  height: .001vmin;
  border-radius: 50%;
  opacity: .25;
}

.animateBackground:nth-child(2) {
  -webkit-box-shadow: 0 0 45vmax 45vmax #ff00ff;
  box-shadow: 0 0 45vmax 45vmax #ff00ff;
  -webkit-animation: hue 10s 0s linear infinite, move1 19s 0s linear infinite;
  animation: hue 10s 0s linear infinite, move1 19s 0s linear infinite;
}

.animateBackground:nth-child(3) {
  -webkit-box-shadow: 0 0 45vmax 45vmax #ffffff;
  box-shadow: 0 0 45vmax 45vmax #ffffff;
  -webkit-animation: hue 15s 0s linear infinite, move2 25s 0s linear infinite;
  animation: hue 15s 0s linear infinite, move2 25s 0s linear infinite;
}

.animateBackground:nth-child(4) {
  -webkit-box-shadow: 0 0 45vmax 45vmax #00ffff;
  box-shadow: 0 0 45vmax 45vmax #00ffff;
  -webkit-animation: hue 20s 0s linear infinite, move3 15s 0s linear infinite;
  animation: hue 20s 0s linear infinite, move3 15s 0s linear infinite;
  opacity: .2;
}
@-webkit-keyframes
hue { 0% {
  -webkit-filter: hue-rotate(0deg);
  filter: hue-rotate(0deg);
}
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
@keyframes
hue { 0% {
  -webkit-filter: hue-rotate(0deg);
  filter: hue-rotate(0deg);
}
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes
move1 { 0% {
  top: 0vh;
  left: 50vw;
}
  25% {
    left: 0vw;
  }
  50% {
    top: 100vh;
  }
  75% {
    left: 100vw;
  }
  100% {
    top: 0vh;
    left: 50vw;
  }
}
@keyframes
move1 { 0% {
  top: 0vh;
  left: 50vw;
}
  25% {
    left: 0vw;
  }
  50% {
    top: 100vh;
  }
  75% {
    left: 100vw;
  }
  100% {
    top: 0vh;
    left: 50vw;
  }
}
@-webkit-keyframes
move2 { 0% {
  top: 50vh;
  left: 100vw;
}
  25% {
    top: 100vh;
  }
  50% {
    left: 0vw;
  }
  75% {
    top: 0vh;
  }
  100% {
    top: 50vh;
    left: 100vw;
  }
}
@keyframes
move2 { 0% {
  top: 50vh;
  left: 100vw;
}
  25% {
    top: 100vh;
  }
  50% {
    left: 0vw;
  }
  75% {
    top: 0vh;
  }
  100% {
    top: 50vh;
    left: 100vw;
  }
}
@-webkit-keyframes
move3 { 0% {
  top: 100vh;
  left: 50vw;
}
  25% {
    left: 100vw;
  }
  50% {
    top: 0vh;
  }
  75% {
    left: 0vw;
  }
  100% {
    top: 100vh;
    left: 50vw;
  }
}
@keyframes
move3 { 0% {
  top: 100vh;
  left: 50vw;
}
  25% {
    left: 100vw;
  }
  50% {
    top: 0vh;
  }
  75% {
    left: 0vw;
  }
  100% {
    top: 100vh;
    left: 50vw;
  }
}