.title {
    display: flex;
    width: max-content;
    margin: 0 0 8px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--RobotoMono);
    letter-spacing: 2px;
    font-weight: 700;
}

.titleH2 {
    display: flex;
    margin-top: 0;
    color: white;
    font-family: var(--RobotoMono);
    letter-spacing: .4em;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    justify-content: center;
}

.titleH3 {
    width: 100%;
    color: white;
    font-family: var(--RobotoMono);
    letter-spacing: .1em;
    margin: 4px 0;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.markColor {
    background-color: rgba(0,0,0);
    color: white;
}

@media screen and (max-width: 650px) {
    .titleH2 {
        margin-bottom: 4px;
    }
    .title {
        font-size: 16px;
    }
}