.contactsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100dvw;
    gap: 40px;
    height: 100dvh;
    padding: 88px 15vw 64px 15vw;
    box-sizing: border-box;
    animation: openMainBlock 0.3s;
}

.contactsBlock > a {
    width: auto;
}

.tgRow {
    display: flex;
    align-items: center;
    height: 48px;
    gap: 24px;
    margin-bottom: 16px;
}

.tgLink {
    color: white;
    font-family: var(--RobotoMono);
    font-weight: 300;
    font-size: 20px;
}

@media screen and (max-width: 650px) {
    .tgLink {
        font-size: 20px
    }
    .contactsBlock {
        padding: 56px 12px 8px 12px;
    }
}

@media screen and (max-width: 360px) {
    .tgRow {
        height: 32px;
        margin-bottom: 8px;
    }
    .tgLink {
        font-size: 14px
    }
    .contactsBlock {
        justify-content: flex-start;
        padding: 48px 8px 8px 8px;
    }
    .contactsBlock h2 {
        font-size: 18px;
    }

}

@keyframes openMainBlock {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.content {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    border-radius: 16px;
    padding: 12px;
    box-shadow: 0 0 12px 12px rgba(0,0,0,0.8);
    box-sizing: border-box;
}
.content:last-child {
    margin-top: 48px;
}