.container {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
}

.description {
    padding: 0 8px;
    font-family: var(--RobotoMono);
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 16px;
}

.rowBlocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 24px;
}

.markColor {
    background-color: rgba(0,0,0);
    color: white;
}

@media screen and (max-width: 1440px) {
    .description {
        margin: 4px 0;
        font-size: 14px;
    }
    .rowBlocks {
        row-gap: 0;
    }
}

@media screen and (max-width: 650px) {
    .description {
        margin: 4px 0;
        font-size: 12px;
    }
    .rowBlocks {
        row-gap: 0;
    }
}