.contactsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    position: relative;
    min-height: 100dvh;
    padding: 88px 15vw 64px 15vw;
    box-sizing: border-box;
    animation: openMainBlock 0.3s;
}

.toContactsLink {
    display: flex;
    position: absolute;
    right: 32px;
    z-index: 2;
    width: max-content;
}
.toContactsLink a {
    background-color: white;
}

@media screen and (max-width: 650px) {
    .contactsBlock {
        padding: 56px 12px 8px 12px;
    }
    .toContactsLink {
        top: 16px;
        left: 12px;
    }
    .toContactsLink a {
        font-size: 16px;
        height: 28px;
        width: 152px;
    }
}

@keyframes openMainBlock {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    border-radius: 16px;
    padding: 12px;
    box-shadow: 0 0 12px 12px rgba(0,0,0,0.5);
    box-sizing: border-box;
    overflow: auto;
}

.contactsBlock :global(.slick-track) {
    display: flex;
}